.container {
    width: 100%;
    height: 100%;
}

body {
  width: 100vh;
  height: 100vh;
  background: url('assets/plane.jpg') no-repeat center;
  background-size: cover;
  color: #333;
}

h1 {
    text-align: center;
	color: white;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 60px;
}