/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background: url('assets/plane.jpg') no-repeat center center fixed;
  background-size: cover;
}
